<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
        <h1>Employees</h1>
        <table class="container" id="mainTable">
            <thead>
                <tr>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Phone</td>
                    <td>Position</td>
                    <td>Monthly salary</td>
                    <td><button class="updelbtn" id="newBtn">New</button></td>
                    <td><button class="updelbtn" id="saveBtn">Save</button></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.phone}"></td>
                    <td th:text="${employee.position}"></td>
                    <td th:text="${employee.salary}"></td>
                    <td>
                        <button class="updelbtn openButton"
                                th:onclick="openForm([[${employee.id}]], [[${employee.firstName}]],
                                [[${employee.lastName}]], [[${employee.phone}]],
                                [[${employee.position}]], [[${employee.salary}]]);">update</button>
                    </td>
                    <td>
                        <form action="#" th:action="@{/vdcom/deleteemployee/} + ${employee.id}" method="post">
                            <button class="updelbtn" type="submit">delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="display: none" id="popupForm">
            <div id="popupContact">
                <form action="#" th:action="@{/vdcom/updateemployee}" class="modal-body" id="form" method="post">
                    <div class="form">
                        <div class="title">Employee</div>
                        <div class="subtitle" id="subtitle">Update employee!</div>
                        <div class="input-container ic1" id="idInput">
                            <input id="empId" class="input" type="text" placeholder=" " th:name="empId" readonly/>
                            <label for="empId" class="placeholder">Employee ID</label>
                        </div>
                        <div class="input-container ic1">
                            <input id="firstName" class="input" type="text" placeholder=" " th:name="firstName" />
                            <label for="firstName" class="placeholder">First name</label>
                        </div>
                        <div class="input-container ic1">
                            <input id="lastName" class="input" type="text" placeholder=" " th:name="lastName"/>
                            <label for="lastName" class="placeholder">Last name</label>
                        </div>
                        <div class="input-container ic1">
                            <input id="phone" class="input" type="text" placeholder=" " th:name="phone"/>
                            <label for="phone" class="placeholder">Phone</label>
                        </div>
                        <div class="input-container ic1">
                            <input id="position" class="input" type="text" placeholder=" " th:name="position"/>
                            <label for="position" class="placeholder">Position</label>
                        </div>
                        <div class="input-container ic1">
                            <input id="salary" class="input" type="text" placeholder=" " th:name="salary"/>
                            <label for="salary" class="placeholder">Salary</label>
                        </div>
                        <div class="ic1">
                            <button type="submit" class="submit" id="updateCreateBtn"></button>
                            <button type="button" onclick="closeForm()" class="submit">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script th:inline="javascript">
            function openForm(id, fname, lname, phone, position, salary) {
                document.getElementById("empId").value = id;
                document.getElementById("firstName").value = fname;
                document.getElementById("lastName").value = lname;
                document.getElementById("phone").value = phone;
                document.getElementById("position").value = position;
                document.getElementById("salary").value = salary;
                document.getElementById("updateCreateBtn").innerText = "Update";
                document.getElementById("subtitle").innerText = "Update employee!";
                document.getElementById("popupForm").style.display = "block";
            }
            let btn = document.getElementById("newBtn");
            btn.addEventListener("click", () => {
                document.getElementById("updateCreateBtn").innerText = "Create";
                document.getElementById("subtitle").innerText = "Create employee!";
                document.getElementById("popupForm").style.display = "block";
            });
            let saveBtn = document.getElementById("saveBtn");
            saveBtn.addEventListener("click", () => {
                save_to_csv("mainTable");
            });
            function closeForm() {
                document.getElementById("popupForm").style.display = "none";
                document.getElementById("form").reset();
            }
            function save_to_csv(table_id, separator = ',') {
                var rows = document.querySelectorAll('table#' + table_id + ' tr');
                var csv = [];
                for (var i = 1; i < rows.length; i++) {
                    var row = [], cols = rows[i].querySelectorAll('td, th');
                    for (var j = 0; j < cols.length; j++) {
                        var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                        data = data.replace(/"/g, '""');
                        row.push('"' + data + '"');
                    }
                    csv.push(row.join(separator));
                }
                var csv_string = csv.join('\n');
                var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
                var link = document.createElement('a');
                link.style.display = 'none';
                link.setAttribute('target', '_blank');
                link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
                link.setAttribute('download', filename);
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        </script>
</body>
</html>